/*hoja de estilos con flex box*/

body {
	background-color:#EABE7C;
	box-sizing:border-box;
	display: flex;
	justify-content:center;

}


#contenedor-flex {
	background-color: rgba(255, 255, 255, 0.8);
	width: 1200px;
	height: 800px;
	border-radius:10px;
	padding:20px;
	display: flex;

	justify-content: flex-start;
	flex-direction: column;
}
#contenedor-flex div {

	width: 1200px;
	
	bordert-radius:4px;
	padding:4px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	justify-content: flex-start;
	flex-wrap: wrap;


	
}

#contenedor-flex div{

	width: 1200px;
	
	bordert-radius:4px;
	padding:4px;

display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

justify-content: flex-start;
flex-wrap: wrap;
}	

.azul {
	background-color:#007BA7;
}

.amarillo {
	background-color:#003153;
}
.naranja{
	background-color:#87CEEB;
}
.img-ing {
	max-width: 200px;
}